body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Flashing effect for the wrong page */
.flash {
  animation: flash-wrong 0.5s infinite alternate;
}

@keyframes flash-wrong {
  0% {
    background-color: red;
    color: white;
  }
  100% {
    background-color: white;
    color: red;
  }
}

.right {
  animation: flash-right 0.5s infinite alternate;
}

@keyframes flash-right {
  0% {
    background-color: royalblue;
    color: white;
  }
  100% {
    background-color: white;
    color: royalblue;
  }
}

h1 {
  font-size: 3rem;
}

.hidden {
  visibility: hidden !important; /* Ensures it cannot be overridden */
  pointer-events: none; /* Prevents hover and clicks */
}
